.product-nav-container {
    background-color: var(--color-bg-tertiary);
    color: var(--color-font-primary);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 16px;
    width: 320px;
}

.bold {
    font-weight: 700;
}