@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

:root {
  --color-bg-primary: #FFFFFF;
  --color-bg-secondary: #2D28FF;
  --color-bg-tertiary: #C7C7C7;

  --color-font-primary: #000000;
  --color-font-secondary: #FFFFFF;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Inter';
}

a, a:hover {
    text-decoration: none;
    color: unset;
}

html, body {
    background-color: var(--color-bg-primary);
}

main {
    padding: 20px 0;
}

/*----------------------------------------------------------------------------------------------*/
/* generic styles */

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.dflex {
    display: flex;
}

.mb20 {
    margin-bottom: 20px;
}